name: data_forms
description: "A forms library for Flutter"
version: 2.3.1
homepage: https://github.com/roksky/data_forms.git

environment:
  sdk: ^3.7.2
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_lints: ">=5.0.0 <7.0.0"
  intl: ">=0.18.0 <0.21.0"
  image_cropper: ">=5.0.1 <12.0.0"
  image_picker: ">=0.8.9 <2.0.0"
  flutter_svg: ^2.0.5
  path_provider: ^2.0.15
  geolocator: ">=9.0.2 <15.0.0"
  provider: ^6.0.4
  file_picker: ">=9.0.0 <11.0.0"
  barcode_scan2: ^4.5.0
  hand_signature: ^3.0.3
  mobile_scanner: ">=6.0.6 <8.0.0"

  vector_math: any
dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  assets:
    - packages/data_forms/assets/ic_alert.svg
    - packages/data_forms/assets/ic_info.svg
    - packages/data_forms/assets/ic_trash.svg
  # For details regarding assets in packages, see
  # https://flutter.dev/to/asset-from-package
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/to/font-from-package
